@font-face { font-family: Roboto; src: url('assets/fonts/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto; font-weight: bold; src: url('assets/fonts/Roboto-Bold.ttf');}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(253, 214, 112);
    width: 100%;
    background: cover;
}
* {
    margin: 0;
}

.cdcolor-bg {
    background-color: rgb(253, 214, 112);
}


li a, .dropbtn {
    display: inline-block;
    color: #3a3a3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.5vmin;
    font-family: Roboto, sans-serif;
}

li p {
    display: inline-block;
    color: #3a3a3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.5vmin;
    font-family: Roboto, sans-serif;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ff686e;
    font-family: Roboto, sans-serif;
}

.logo {
    width: 20vh;
    padding: 3px 4px;
}

.pd-0 {
    padding: 0px;
    margin: 3% 4%;
}
.catagory {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #ff686e;
    margin: 0 auto;
    margin-top: 0px; }

.catagory-item {
    text-align: center !important;
    width: 5000px;
    font-family: Roboto, sans-serif;
    font-size: 3vh;}

.catagory-item a {
    text-decoration: none;
    color: #fff; }

.catagory-item :hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: rgb(253, 214, 112);
    color: #000;
    margin: 0 auto;
    margin-top: 0px; }

.header-title {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 5vmin;
    margin-top: 3%;
    margin-bottom: 5%;
    color: rgba(0,0,0,0.5);

}

.listings{
    width: 90%;
    background-color: lightgrey;
    margin: 0 auto;
}

.items {
    background-color: grey;
    text-align: center;
    width: 30%;
    padding: 10px 0px;
}

.imageicon
{
    width: 55%;
}



/*content*/
#pagewrap {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
    border:none;
}
header {
    height: 100px;
    padding: 0 15px;
}
#content {
    width: 280px;
    float: left;
    padding: 5px 15px;
    border-radius: 5px;

}
.center {
    text-align: center;
}


#content {
    background: rgba(253, 214, 112, 0.35);
}
header, #content, #middle, #sidebar {
    margin-bottom: 5px;
    margin-left: 5px;
}

.catagory-title {
    font-family: Roboto, sans-serif;
    font-size: 3.5vmin;
    margin-top: 5px;
    color: #ff686e;
}
.catagory-sub-title {
    font-family: Roboto, sans-serif;
    font-size: 3vmin;
    margin-top: 5px;
    color: #777;
}

/* custom */
a:-webkit-any-link {
    text-decoration: none!important;
}

a:link {
    text-decoration: none!important;
}

/* visited link */
a:visited {
    text-decoration: none!important;
}

/* mouse over link */
a:hover {
    text-decoration: none!important;
}

/* selected link */
a:active {
    text-decoration: none!important;
}

.footer-style {
    background-color: red;
}

#content:hover {
    background: rgba(255, 104, 110, 0.40);
}

.footer {
    display: none;
}

.catagory-coupons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
    margin-top: 0px; }

.grey {
    display:  flex;
    height: 40px;
    background-color: rgb(200, 200, 200);
    margin: 0 auto;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

.active {
    display:  flex;
    height: 40px;
    background-color: rgba(241, 241, 241,0.2);
    margin: 0 auto;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

.active:hover {
    display:  flex;
    height: 40px;
    background-color: rgb(253, 214, 112);
    margin: 0 auto;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}


.offer-style {
    width: auto;
    display: inline-block;
    margin-top: 4%;
    padding: 3%;
    margin: 3%;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
}

.profilehistory-style {
    width: auto;
    display: inline-block;
    margin-top: 4%;
    padding: 4% 20%;
    margin: 3%;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;"
}

.item-style {
    width: 35%;
    display: inline-block;
    margin-top: 5%!important;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;"
}

.catagory-style {
    width: 35%;
    display: inline-block;
    margin-top: 5%!important;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    background-color: rgba(253, 214, 112, 0.35);
    border: 2px solid rgba(253, 214, 112,0.5);
}




.discount-style {
    width: auto;
    display: inline-block;
    margin-top: 2%;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;"
}
.discount-box {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1%;
    border:2px solid #ccc;
    width: 90%;
    display: inline-block;
    margin: 10px 0px;
}

.catagory-item-coupons {
    text-align: center !important;
    width: 5000px;
    font-family: Roboto, sans-serif; }

.catagory-item-coupons a {
    text-decoration: none;
    color: grey; }

.catagory-item-coupons :hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: rgb(200, 200, 200);
    color: grey;
    margin: 0 auto;
    margin-top: 0px; }

.catagory-item-coupons :active {
    background-color: rgb(200, 200, 200);
}
.button-style {
    background-color: rgb(253, 214, 112);
    margin-bottom: 20px;
    padding: 2% 8%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 3vmin!important;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    color: #333;
}
.button-login {
    background-color: #ff686e;
    margin-bottom: 20px;
    padding: 2% 8%;
    font-size: 3.5vmin;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: Roboto, sans-serif;
    font-size: 3vmin;
    cursor: pointer;
    color: #fff;
}
.button-style2 {
    background-color: rgb(253, 214, 112);
    margin-bottom: 20px;
    padding: 2% 8%;
    font-size: 2.5vmin!important;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: Roboto, sans-serif;
    font-size: 3vmin;
    cursor: pointer;
}
.button-style3 {
    background-color: rgb(253, 214, 112);
    margin-bottom: 20px;
    padding: 3% 9%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 3.5vmin;
    cursor: pointer;
    margin-top: 50px!important;
    font-family: Roboto, sans-serif;
    color: #333;
    font-weight: bold;
}

.button-search {
    background-color: #ff686e;
    margin-bottom: 20px;
    padding: 9px 30px;
    margin-top: 0px;
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    font-size: 3vmin!important;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    color: #fff;
}
.button-style:hover {
    background-color: #ff686e;
    color: #fff;
}
.button-style2:hover {
    background-color: #ff686e;
    color: #fff;
}

.button-style3:hover {
    background-color: #ff686e;
    color: #fff;
}


.ofwhite {
    background-color: #ffffff!important;
    border:2px solid #ddd!important;

}
.ofwhite:hover {
    background-color: #f1f3f4!important;
}
.catagory-hover {
    background-color: background-color: rgba(253, 214, 112, 0.35)!important;
    border:2px solid background-color: rgba(253, 214, 112, 0.5)!important;

}
.catagory-hover:hover {
    background-color: rgba(255, 104, 110, 0.35)!important;
    border: 2px solid rgba(255, 104, 110, 0.5)!important;
}

.text-p {
    font-size: 3.5vmin;
    color: #333;
    font-family: Roboto, sans-serif;
}

.text-p a {
    font-size: 3.5vmin;
    color: #333;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #ff686e;
}


.inputstyle {
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 10px 5px;
    margin: 10px 0px;
    font-size: 3vmin;
    padding-left: 10px;
}

.inputstyle-textarea {
    width: 70%;
    height: 100px;
    resize: none;
    background-color: rgba(253, 214, 112,.35);
    border-radius: 5px;
    border: 2px solid rgba(253, 214, 112,.5);
    padding: 10px 5px;
    margin: 10px 0px;
    font-size: 3vmin;
    padding-left: 10px;
}

.inputstyle2 {
    width: 70%;
    background-color: rgba(253, 214, 112,.35);
    border-radius: 5px;
    border: 2px solid rgba(253, 214, 112,.5);
    padding: 10px 5px;
    margin: 10px 0px;
    font-size: 3vmin;
    padding-left: 10px;
}


.inputstyle-search {
    width: 80%;
    color: #ff686e;
    border-radius: 5px;
    padding: 9px 9px;
    font-size: 3vmin;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    background-color: rgba(253, 214, 112,.35);
    border-radius: 5px;
    border: 2px solid rgba(253, 214, 112,.5);
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
    .footer{
        display: block;
    }
    #pagewrap {
        width: 94%;
    }
    #content {
        width: 41%;
        padding: 1% 4%;
    }

    header, footer {
        padding: 1% 4%;
    }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

    #content {
        width: 40%;
        float: none;
        display: inline-block;
    }
    .footer {
        display: block;
        padding: 20px;
        text-align: center;
        background-color: rgb(253, 214, 112);
        font-family: Roboto, sans-serif;

    }

    .logo {
        width: 15vh;
        padding: 3px 4px;
    }


    header, #content, #middle, #sidebar {
        margin-top: 5px; }
}

/* for 480px or less */
@media screen and (max-width: 480px) {

    header {
        height: auto;
    }
    .footer {
        display: block;
        padding: 20px;
        text-align: center;
        background-color: rgb(253, 214, 112);
        font-family: Roboto, sans-serif;

    }

    h1 {
        font-size: 2em;
    }
    .logo {
        width: 15vh;
        padding: 3px 4px;
    }


}
@media screen and (max-width: 370px) {

    header {
        height: auto;
    }
    h1 {
        font-size: 2em;
    }
    #content {
        width: 39%;
        float: none;
        display: inline-block;
    }
    .logo {
        width: 15vh;
        padding: 3px 4px;
    }




}




